@mixin background-text () {
  font-family: $fontMain;
  font-weight: 700;
  font-size: 40px;
  background: -webkit-linear-gradient(0deg, rgba(17,30,108,0.7567401960784313) 0%, rgba(154,48,55,1) 34%, rgba(255,255,255,1) 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin fonts ( $fontMain, $fontSize, $fontWeight){
  font-family: $fontMain;
  font-size: $fontSize + px;
  font-weight: $fontWeight;
}
@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgb(173, 173, 173); 
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1; 
  }
}
.main{
  .mobile-view{
    display: none;
    @media (max-width: 1000px) {
      display: block;
    }
  }
  .mobile{
    @media (max-width: 1000px) {
      display: none;
    }
  }
  padding: 20px 40px;
  background-color: $Background;
  display: grid;
  grid-template-columns: 1fr 2fr ;
  grid-gap: 30px;
  @media(max-width: 1000px){
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  &__sales{
    &__box{
      text-align: center;
      &-title{
        text-align: center;
        border-radius: 10px 10px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        padding: 15px;
        background: $Gradient-box;
        p{
          @include fonts( $fontMain, 16 , 500);
        }
      }
      &-amount{
        background-color: white;
        border-radius: 0px 0px 10px 10px;
        padding: 20px;
        #total-ventas{
          @include background-text();
        }
        #fecha-total{
          margin-top: 5px;
          @include fonts( $fontMain, 14 , 300);
          color: $Azul;
        }
      }
    }
  }
  &__buttons{
    &-date{
      .active{
        background-color: $Gris-claro;
        font-weight: 700;
      }
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: white;
      margin-bottom: 10px;
      padding: 5px;
      p{
        width: 190px;
        border-radius: 20px;
        color: $Azul;
        @include fonts( $fontMain, 14 , 400);
        padding: 10px 40px;
        text-align: center;
        cursor: pointer;
        transition: all 0.5;
        @media(max-width: 1000px){
          font-size: 13px;
          width: 150px;
          padding: 10px;
        }
      }
    }
    &-filter{
      display: flex;
      justify-content: flex-end;
      position: relative;
      .filtrar{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: white;
        color: $Azul;
        margin-bottom: 10px;
        padding: 5px 10px;
        cursor: pointer;
        p{
          margin-right: 10px;
          color: $Azul;
          @include fonts( $fontMain, 14 , 400);       
        }
      }
      #filtrar{
        position: absolute;
        width: 300px;
        height: 300px;
        display: none;
        top: 0%;
        background: white;
        z-index: 2;
        color: $Azul;
        padding: 20px;
        border-radius: 10px;
        #cerrar-filtro{
          color: $Rojo;
        }
        label{
          @include fonts( $fontMain, 14 , 700);
          color: $Azul;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          cursor: pointer;
          &::before{
            content: "";
            display: inline-block;
            width: 20px;
            height:  20px;
            border: 1px solid $Gris-oscuro;
            margin-right: 10px;
          }
        }
        input[type="radio"]{
          visibility: hidden;
          position: absolute;
          &:checked + label::before {
            content: "✔";
            font-size: 20px;
            line-height: 20px;
          }
        }
        
        >div{
          display: flex;
          border-radius: 10px;
          background-color: white;
          text-align: center;
          justify-content: center;
          align-items: center;
          p{
            @include fonts( $fontMain, 14 , 300);
            margin-right: 20px;
          }
        }
      }
      }
  }
  &__table{
    display: grid;
    grid-column: 1/3;
    grid-template-columns: repeat(4 , 1fr);
    @media(max-width: 1000px){
      grid-template-columns: repeat(2 , 1fr) 20px;
    }
    .row{
      &__title{
        background: $Gradient;
        color: white;
        border-radius: 10px 10px 0 0;
        padding: 10px 20px;
        grid-column: 1/5;
        p{
          @include fonts( $fontMain, 16 , 500);
        }
      }
      &__desc{
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(5 , 1fr);
        border-bottom: 1px solid rgba(0, 0, 0, 0.178);
        padding: 10px 20px;
        background-color: white;
        grid-column: 1/5;
        @media(max-width: 1000px){
          grid-template-columns: repeat(2 , 1fr) 20px;
        }
        p{
          color: $Gris-oscuro;
          @include fonts( $fontMain, 16 , 500);
        }
      }
      &__table-transactions{
        grid-column: 1/5;
        background-color: white;
        max-height: 500px;
        border-radius: 0 0 10px 10px;
        overflow-y: scroll;
        box-shadow: inset 0px -6px 15px 1px #eaeaea94;
        @include scrollbar();
        &-row{
          position: relative;
          padding: 10px 20px;
          display: grid;
          justify-items: center;
          grid-template-columns: repeat(5 , 1fr);
          border-bottom: 1px solid rgba(0, 0, 0, 0.178);
          font-family: $fontMain;
          color: $Gris-claro;
          border-radius: 0 0 10px 10px;
          @media(max-width: 1000px){
            grid-template-columns: repeat(2 , 1fr) 30px;
          }
          &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 100%;
            background: $Azul;
          }
          #succes{
            color: $Azul;
            @include fonts( $fontMain, 16 , 500);
          }
          #card{
            i{
              color: rgba(255, 0, 0, 0.363);
            }
          }
          #amount{
            @media(max-width: 1000px){
              grid-column: 2/3;
              grid-row: 1/2;
            } 
            p{
              margin-bottom: 10px;
              &:first-child{
                color: $Azul;
              }
              &:nth-child(2){
                font-size: 12px;
              }
              &:last-child{
                color: $Rojo;
              } 
            }
          }
        }
        .fa-plus{
          color: $Azul;
          grid-column: 3/4;
        }
        .succes{
          &::after{
            background: $Rojo;
          }
        }
      }
    }
  }
  .PopUp-mobile{
    position: relative;
    font-family: $fontMain;
    #cerrar-pupUp{
      color: $Rojo;
      position: absolute;
      left: 90%;
      transform: translate(-90%);
    }
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.178);
    padding: 20px;
    &-container{
      position: relative;
      display: flex;
      background-color: white;
      padding: 20px;
      border-radius: 20px;
      font-family: $fontMain;
      p{
      font-family: $fontMain;
        color: $Azul;
      }
      #amount{
      font-family: $fontMain;
        p{
          margin-bottom: 5px;
          &:first-child{
            color: $Azul;
          }
          &:nth-child(2){
            color: $Gris-claro;
            font-size: 12px;
          }
          &:last-child{
            color: $Rojo;
            margin-bottom: 0;
          } 
        }
      }
      > div{
        min-height: 400px;
        max-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        padding: 20px;
    }
    }

  }
}

