$Azul: #111e6c;
$Rojo: #ef434e;
$Gris-oscuro: #323232;
$Gris-claro: #969696;
$Background: #e5e7ef;
$Gradient-box: linear-gradient(94deg, rgba(17,30,108,0.7567401960784313) 0%, rgba(154,48,55,1) 84%, );
$Gradient:  linear-gradient(90deg, rgba(17,30,108,1) 15%, rgba(17,30,108,1) 34%, rgba(154,48,55,1) 100%);
$fontMain : 'Montserrat', sans-serif;